<div data-id="menu" class="ui secondary pointing menu">
  <a data-id="add-tip-button" class="ui item">
    Add Tip
  </a>
  <div class="right menu">
    <a class="ui item">
      <img id="menu-image" src="<%= @user.picture %>">
    </a>
    <%= link_to 'Logout', '/sessions', method: :delete, class: "ui item" %>
  </div>
</div>
<header class="ui centered page grid">
  <div class="row">
    <a href="/#"><%= image_tag("looped_logo.png", :id => "logo", :alt => "Looped") %></a>
  </div>
</header>
<main id="main" class="ui centered page grid">

<!-- Bootstrap cities & categories collections -->
<script>
  var allCategories = <%=j @categories.to_json.html_safe %>
  var allCities = <%=j @cities.to_json.html_safe %>
</script>
<!-- Add Tip Form -->
<script type="text/template" data-id="add-tip=template">
  <div class="eleven wide column">
    <div class="ui form">
      <div class="field">
        <div name="city-dropdown" class="ui fluid search selection dropdown">
          <input type="hidden" name="city">
          <i class="dropdown icon"></i>
          <div class="default text">Select City</div>
            <div data-attr="city-dropdown" class="menu">
              <div class="item" data-value="add-new" style="font-style:italic">Add New City</div>
              <%% _.each(cities, function(city) { %>
                <div class="item" data-value="<%%= city.id %>"><%%= city.city %>, <%%= city.country %></div>
              <%% }); %>
            </div>
          </div>
      </div>
      <div data-id="add-new-city-field" class="field hidden-field">
        <input data-id="new-city-field" type="text" placeholder="Enter City Here">
      </div>
      <div data-id="add-new-country-field" class="field hidden-field">
        <input type="text" data-id="new-country-field"placeholder="Enter Country Here">
      </div>
      <div class="field">
        <div name="category-dropdown" class="ui fluid search selection dropdown">
          <input type="hidden" name="category">
          <i class="dropdown icon"></i>
          <div class="default text">Select Category</div>
            <div data-attr="category-dropdown" class="menu">
              <%% _.each(categories, function(category) { %>
              <%% if (category.title === "Misc.") %>
                <div class="item" style="font-style:italic" data-value="<%%= category.id %>"><%%= category.title %></div>
                <%% else %>
                  <div class="item" data-value="<%%= category.id %>"><%%= category.title %></div>
              <%% }); %>
            </div>
          </div>
        </div>
      <div class="field" >
        <textarea name="tip" placeholder="What's your tip?"></textarea>
      </div>
      <div data-action="submit-tip" class="ui button">
        Add Tip
      </div>
    </div>
  </div>
</script>

<!-- City Dropdown Template -->
<script type="text/template" data-id="city-dropdown-template">
  <div class="eleven wide column">
    <div data-id="city-dropdown" class="ui fluid search selection dropdown">
      <input type="hidden" name="country">
        <i class="dropdown icon"></i>
          <div class="default text">Select City</div>
          <div data-attr="city-dropdown" class="menu">
            <%% _.each(cities, function(city) { %>
              <div class="item" data-value="<%%= city.id %>"><%%= city.city %>, <%%= city.country %></div>
            <%% }); %>
          </div>
    </div>  
  </div>
  <div class="eleven wide column">
    <div data-id="results-container" class="ui very relaxed celled list"></div>
  </div>
</script>

  
<!-- Tip Results List Item Template -->
<script type="text/template" data-id="tip-result-template">
  <div id="tip-avatar">
    <img class="ui avatar image" src="<%%= user.picture %>">
    <p id="tip-user-name"><%%= user.name %></p>
  </div>
  <div style="vertical-align:center" class="middle aligned content" style="width: 80%">
    <div class="description">
      <p data-id="city-title"><%%= city.city %><span data-id="category-title"><%%= category.title %></span></p>
      <p><%%= content %></p>
    </div>
  </div>
  <div class="extra rating-content" style="width:50px;height:100%">
    <div class="ui rating" data-max-rating="1" data-id="<%%= id %>"></div>
  </div>
</script>

<!-- User Profile Template - Tabs -->
<script type="text/template" data-id="user-profile">
  <h2><%%= name %></h4>
  <div class="eleven wide column">
  <div class="ui top attached tabular menu">
    <a class="item" data-id="favorites-tab">Favorites</a>
    <a class="item" data-id="contributed-tab">Contributed</a>
  </div>
  <div class="ui bottom attached tab segment">
  </div>
  </div>
  <div class="eleven wide column">
    <div data-id="results-container" style="text-align:left" class="ui very relaxed celled list"></div>
  </div>
</script>
